In [1]:
import pandas as pd
import json
import re

In [2]:
def count_word_char(line):
    '''
    For simplexity we can first ignore special character
    
    1. Split line if it is not a word character
    2. Iterated each word, count if it is one word, count total characters
    '''
    
    words = [word for word in re.split(r'\W', line) if word.isalnum()] # divide string based on symbol
    
    symbols = [word.strip() for word in re.split(r'\w', line) if word not in ['', ' ']] # devide string based on word, only keep symbol not '' or ' '
    
    wc, cc = 0, 0 # counting 
    word_dict = {} # word dictionary
    
    for word in words: # For each word in the word list
        
        cc += len(word) # add current word characters length
        
        if not word.isdecimal(): # If the word is a not a pure number
            wc += 1 # counter + 1
            
            # Save word frequency
            
            if word in word_dict: 
                word_dict[word] += 1
            else:
                word_dict[word] = 1  
    print("""Symbols are: {}\nTotal words count: {}\nTotal character count: {}\n""".format(symbols, wc, cc))
    
    print("-"*31)
    print("{0:15}|{1:>15}".format("Word", "Frequency"))
    print("-"*31)
    for word, frequency in word_dict.items():
        print("{0:15}|{1:>15}".format(word, frequency))
    
    return symbols, wc, cc, word_dict

In [3]:
def read_json_nrows(nrows,filename):    
    n= 0    
    with open(filename) as f:        
        while n < nrows:            
            if n == 0:                
                line = f.readline()                
                line = json.loads(line.rstrip())                
                train = pd.DataFrame(line,index = [0])            
            else:                
                temp = pd.DataFrame(json.loads(f.readline().rstrip()),index = [n])                
                train = train.append(temp)           
            n = n+1    
    return train

In [36]:
dt1 = read_json_nrows(10000,'review_train.json')
#dt1
#can,can't,cannot,will,'ll,to,for,in,on,I,you,me,she,he,her,him,they,their,them,be,it,its,it's,this,that,a,an,

#dt1 = pd.read_csv("processed.csv")
#dt1 = dt1['text']

In [37]:
dt1[dt1['stars']==1.0]

,business_id,stars,text,date
0,31292,1.0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
4,64913,1.0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38
7,139555,1.0,This place has gone down hill. Clearly they h...,2010-10-05 19:12:35
10,40775,1.0,"Walked in around 4 on a Friday afternoon, we s...",2017-12-15 23:27:08
13,185188,1.0,I cannot believe how things have changed in 3 ...,2012-07-16 00:37:14
21,93217,1.0,"Unfortunately, I must recommend not to conduct...",2014-08-10 22:07:35
23,156644,1.0,"if i can give this place no stars i would, i o...",2014-04-19 15:03:17
24,81486,1.0,This review is in regards to our experience wa...,2017-02-09 03:43:25
26,85734,1.0,I tried this place because my girls are away f...,2014-06-27 21:32:31
27,173372,1.0,Love this place downtown but the Scottsdale lo...,2015-12-05 02:37:03
31,166260,1.0,They keep there appointments on time and are p...,2018-02-01 19:01:16
32,88584,1.0,Met a friend for dinner there tonight. The ser...,2014-09-25 08:15:44
36,13423,1.0,We had dinner at the Bellagio Buffet last nigh...,2013-12-07 00:14:06
39,83068,1.0,I am years out from surgery with sacs and I wi...,2016-09-18 15:19:33
41,154175,1.0,I've never experienced discrimination as I did...,2014-07-13 16:17:18
50,192192,1.0,((( LADIES BEWARE))) Don't ever take your mach...,2017-01-27 19:15:36
51,41738,1.0,Th service here is very hit or miss... Sometim...,2015-07-16 07:31:28
60,105381,1.0,At least the Pinks concession stand by Section...,2018-09-25 03:58:48
62,156764,1.0,I was told so many great things about this pla...,2015-07-28 09:33:12
63,148744,1.0,"Came here for the ""midnight"" launch of the PSV...",2016-10-13 20:59:22
71,47108,1.0,They charged me twice what I expected to pay. ...,2014-01-17 02:15:25
77,100262,1.0,"Awful place. Staff is not nice, very rude. Th...",2018-01-09 21:27:45
79,28619,1.0,"I have no idea what the owner's problem is, bu...",2013-05-28 20:38:13
83,41217,1.0,Ok so I have purchased items from RC Wiley and...,2014-11-30 00:36:24
84,40180,1.0,Let me start by saying that I love Aveda which...,2017-04-07 21:40:45
85,113766,1.0,Place took forever... Come to find out that th...,2015-10-07 22:45:03
99,110121,1.0,I just had a terrible experience with Dr. Jenn...,2017-10-24 20:41:30
101,11086,1.0,Was very excited for happy hour and heard grea...,2017-05-26 02:22:41
113,109421,1.0,PLEASE. Read this before you buy a session wit...,2016-01-30 01:29:21
119,15494,1.0,My experience went from bad to worse. This pl...,2016-01-30 00:53:48
...,...,...,...,...
9803,146073,1.0,Buyer beware - I went to purchase flowers fro...,2018-06-26 19:08:10
9805,39261,1.0,Very disappointed! I ordered egg benedict trio...,2017-11-06 22:15:12
9812,31721,1.0,"My roommate, little sister and I arrived at th...",2016-04-11 20:04:57
9817,184699,1.0,So true World's slowest Swiss Chalet. They ord...,2016-01-17 20:43:39
9818,95424,1.0,We walked in at 10:40 and sat at a table right...,2018-08-04 23:29:52
9822,156056,1.0,I probably should have done my due diligence i...,2017-07-18 20:09:10
9823,97654,1.0,I have to be honest here... I went inside this...,2016-11-22 12:54:25
9827,66965,1.0,Absolutely horrendous. I decided to chose this...,2016-10-01 02:03:38
9829,111149,1.0,Sucks! I got screwed by this company several ...,2014-06-28 14:08:53
9838,130178,1.0,We went for a Saturday lunch to meet friend in...,2015-07-04 04:05:50
9843,170153,1.0,We were in the market for a new car seat for o...,2016-03-07 17:42:31
9844,7462,1.0,"The food and prices are great, but the service...",2017-10-02 16:06:13
9862,57261,1.0,Absolutely dismal. We should have been tipped ...,2015-06-21 12:56:40
9863,68236,1.0,Went there today and got the same order as las...,2016-11-10 00:22:08
9865,13172,1.0,"I'm sorry to have to do this, but the owner of...",2012-09-10 20:55:22
9896,184862,1.0,As a rental tenant and having to deal with thi...,2015-04-28 22:59:58
9917,80936,1.0,It was obvious that the toilet bowl or seat ha...,2016-08-13 04:24:55
9919,13423,1.0,"Was not the cleanest place in Vegas for sure ,...",2017-02-19 23:43:42
9920,110161,1.0,"This used to be one of my favorite places, unf...",2018-02-02 02:07:27
9921,190150,1.0,This place is not good at all. I had a chicken...,2018-07-17 16:59:30
9922,181113,1.0,I was really hungry today and I decided to sto...,2010-05-15 22:06:56
9926,4302,1.0,Some idiot male working put my fiancé on hold ...,2017-04-07 23:31:16
9937,51946,1.0,"Hhhhhhoooorible! Walked out! First of all, I c...",2015-06-21 02:44:38
9943,16264,1.0,"Cab 389, june 11,2016, 8:45pm pick up at Sky H...",2016-06-12 03:29:21
9957,148216,1.0,"Do not eat here! \nWe just had lunch here, I f...",2018-01-09 23:37:00
9958,108514,1.0,Update:\nThis used to be my fav Thai place but...,2018-03-23 20:23:20
9964,58168,1.0,Have you ever been discriminated against? Well...,2018-09-03 05:05:40
9968,82170,1.0,I am appalled by the way my father in law was ...,2018-09-14 02:08:44
9971,122228,1.0,The pizza is just blah!!! The overall flavor i...,2018-09-25 07:17:30
9987,129138,1.0,In Vegas for a youth basketball tournament and...,2011-07-29 13:58:07

In [38]:
star5=dt1[dt1['stars']==5.0]
star4=dt1[dt1['stars']==4.0]
star3=dt1[dt1['stars']==3.0]
star2=dt1[dt1['stars']==2.0]
star1=dt1[dt1['stars']==1.0]
s_text=''
s1_text=''
s2_text=''
s3_text=''
s4_text=''
s5_text=''
len(star1)

1493

In [39]:
for i in range(len(dt1)):
    if (int(dt1.iat[i,1])== 1):
        s1_text+=str(dt1.iat[i,2])
    elif (int(dt1.iat[i,1])== 2):
        s2_text+=str(dt1.iat[i,2])
    elif (int(dt1.iat[i,1])== 3):
        s3_text+=str(dt1.iat[i,2])
    elif (int(dt1.iat[i,1])== 4):
        s4_text+=str(dt1.iat[i,2])
    else:
        s5_text+=str(dt1.iat[i,2])

In [57]:
str(dt1.iat[0,2])
#s1_text

'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.'

In [58]:
from sklearn.feature_extraction.text import TfidfTransformer 
from sklearn.feature_extraction.text import CountVectorizer 
 
vectorizer = CountVectorizer(min_df=1)
 
corpus1 = [ s1_text ]
vectorizer1=CountVectorizer()
 
transformer1 = TfidfTransformer()
tfidf1 = transformer1.fit_transform(vectorizer1.fit_transform(corpus1)) 
print (tfidf1)

  (0, 9846)	0.00239922143022075
  (0, 1253)	0.005578189825263244
  (0, 3999)	0.14611258510044367
  (0, 9691)	0.11000430257562138
  (0, 4771)	0.011156379650526488
  (0, 8490)	0.04264616092217383
  (0, 6761)	0.024711980731273724
  (0, 330)	5.998053575551875e-05
  (0, 9670)	0.006477897861596025
  (0, 2565)	0.0001199610715110375
  (0, 448)	0.005938073039796357
  (0, 4478)	0.07317625362173287
  (0, 9646)	0.5478022330551527
  (0, 6429)	0.0003598832145331125
  (0, 9779)	0.37283901025630456
  (0, 1889)	0.0048584233961970185
  (0, 10252)	0.03412892484489017
  (0, 302)	5.998053575551875e-05
  (0, 7110)	0.00029990267877759376
  (0, 1914)	0.0026991241089983436
  (0, 6664)	0.0037787737525976813
  (0, 1700)	0.027171182697249992
  (0, 1130)	0.06124012700638464
  (0, 92)	0.00047984428604415
  (0, 1840)	0.0004198637502886313
  :	:
  (0, 10839)	5.998053575551875e-05
  (0, 10846)	5.998053575551875e-05
  (0, 10842)	5.998053575551875e-05
  (0, 10847)	5.998053575551875e-05
  (0, 10844)	5.998053575551875e-05
  (0, 10845)	5.998053575551875e-05
  (0, 10841)	5.998053575551875e-05
  (0, 10848)	5.998053575551875e-05
  (0, 10840)	5.998053575551875e-05
  (0, 10843)	5.998053575551875e-05
  (0, 3771)	5.998053575551875e-05
  (0, 7085)	5.998053575551875e-05
  (0, 6656)	5.998053575551875e-05
  (0, 8218)	5.998053575551875e-05
  (0, 622)	5.998053575551875e-05
  (0, 5966)	5.998053575551875e-05
  (0, 2837)	5.998053575551875e-05
  (0, 2671)	5.998053575551875e-05
  (0, 3357)	5.998053575551875e-05
  (0, 3342)	5.998053575551875e-05
  (0, 7306)	5.998053575551875e-05
  (0, 10813)	5.998053575551875e-05
  (0, 9863)	5.998053575551875e-05
  (0, 2385)	5.998053575551875e-05
  (0, 45)	5.998053575551875e-05

In [59]:
corpus2 = [ s2_text ]
vectorizer2=CountVectorizer()
 
transformer2 = TfidfTransformer()
tfidf2 = transformer2.fit_transform(vectorizer2.fit_transform(corpus2)) 
#print (tfidf2)

In [60]:
corpus3 = [ s3_text ]
vectorizer3=CountVectorizer()
 
transformer3 = TfidfTransformer()
tfidf3 = transformer3.fit_transform(vectorizer3.fit_transform(corpus3)) 
#print (tfidf3)

In [61]:
corpus4 = [ s4_text ]
vectorizer4=CountVectorizer()
 
transformer4 = TfidfTransformer()
tfidf4 = transformer4.fit_transform(vectorizer4.fit_transform(corpus4)) 
#print (tfidf4)

In [62]:
corpus5 = [ s5_text ]
vectorizer5=CountVectorizer()
 
transformer5 = TfidfTransformer()
tfidf5 = transformer5.fit_transform(vectorizer5.fit_transform(corpus5)) 
#print (tfidf5)

In [63]:
new1=pd.DataFrame(tfidf1.A)
new2=pd.DataFrame(tfidf2.A)
new3=pd.DataFrame(tfidf3.A)
new4=pd.DataFrame(tfidf4.A)
new5=pd.DataFrame(tfidf5.A)

In [64]:
print (new1.loc[:,new1.loc[0,]==new1.loc[0,:].max()])
new11 = new1.loc[0,:].sort_values(axis=0, ascending=False)
new21 = new2.loc[0,:].sort_values(axis=0, ascending=False)
new31 = new3.loc[0,:].sort_values(axis=0, ascending=False)
new41 = new4.loc[0,:].sort_values(axis=0, ascending=False)
new51 = new5.loc[0,:].sort_values(axis=0, ascending=False)

       9646
0  0.547802

In [65]:
new11

9646     0.547802
667      0.387954
9779     0.372839
10500    0.215690
5206     0.169205
6613     0.151631
3999     0.146113
6350     0.141254
4957     0.136036
9672     0.133697
9643     0.127759
10535    0.121041
9691     0.110004
5194     0.105086
6521     0.104126
6657     0.087991
10804    0.084992
10680    0.084812
5994     0.083193
4573     0.082533
902      0.080854
4478     0.073176
1621     0.068498
10577    0.061360
1130     0.061240
8875     0.059081
8558     0.054222
6737     0.052663
4580     0.051223
9660     0.050024
           ...
5253     0.000060
5255     0.000060
5256     0.000060
5258     0.000060
5218     0.000060
10067    0.000060
5179     0.000060
10068    0.000060
5180     0.000060
5181     0.000060
5183     0.000060
5184     0.000060
5186     0.000060
5187     0.000060
5189     0.000060
5192     0.000060
5193     0.000060
10076    0.000060
5197     0.000060
5199     0.000060
5201     0.000060
5205     0.000060
10071    0.000060
5208     0.000060
5209     0.000060
10070    0.000060
5211     0.000060
10069    0.000060
5213     0.000060
10848    0.000060
Name: 0, Length: 10849, dtype: float64

In [66]:
X1 = vectorizer1.fit_transform(corpus1)
feature_name1 = vectorizer1.get_feature_names()
print (X1)
#print (feature_name1)
#print (X1.toarray())
X2 = vectorizer2.fit_transform(corpus2)
feature_name2 = vectorizer2.get_feature_names()
X3 = vectorizer3.fit_transform(corpus3)
feature_name3 = vectorizer3.get_feature_names()
X4 = vectorizer4.fit_transform(corpus4)
feature_name4 = vectorizer4.get_feature_names()
X5 = vectorizer5.fit_transform(corpus5)
feature_name5 = vectorizer5.get_feature_names()

  (0, 45)	1
  (0, 2385)	1
  (0, 9863)	1
  (0, 10813)	1
  (0, 7306)	1
  (0, 3342)	1
  (0, 3357)	1
  (0, 2671)	1
  (0, 2837)	1
  (0, 5966)	1
  (0, 622)	1
  (0, 8218)	1
  (0, 6656)	1
  (0, 7085)	1
  (0, 3771)	1
  (0, 10843)	1
  (0, 10840)	1
  (0, 10848)	1
  (0, 10841)	1
  (0, 10845)	1
  (0, 10844)	1
  (0, 10847)	1
  (0, 10842)	1
  (0, 10846)	1
  (0, 10839)	1
  :	:
  (0, 1840)	7
  (0, 92)	8
  (0, 1130)	1021
  (0, 1700)	453
  (0, 6664)	63
  (0, 1914)	45
  (0, 7110)	5
  (0, 302)	1
  (0, 10252)	569
  (0, 1889)	81
  (0, 9779)	6216
  (0, 6429)	6
  (0, 9646)	9133
  (0, 4478)	1220
  (0, 448)	99
  (0, 2565)	2
  (0, 9670)	108
  (0, 330)	1
  (0, 6761)	412
  (0, 8490)	711
  (0, 4771)	186
  (0, 9691)	1834
  (0, 3999)	2436
  (0, 1253)	93
  (0, 9846)	40

In [74]:
print (type(feature_name1))

dict1 = {}; dict2 = {}; dict3 = {}; dict4 = {}; dict5={}
for i in range(len(feature_name1)):
    dict1[i] = feature_name1[i]
for i in range(len(feature_name2)):
    dict2[i] = feature_name2[i]
for i in range(len(feature_name3)):
    dict3[i] = feature_name3[i]
for i in range(len(feature_name4)):
    dict4[i] = feature_name4[i]
for i in range(len(feature_name5)):
    dict5[i] = feature_name5[i]
    
#print (dict1)

<class 'list'>

In [68]:
pd.DataFrame(new11.head(20))._stat_axis.tolist()

[9646,
 667,
 9779,
 10500,
 5206,
 6613,
 3999,
 6350,
 4957,
 9672,
 9643,
 10535,
 9691,
 5194,
 6521,
 6657,
 10804,
 10680,
 5994,
 4573]

In [69]:
top1 = {}
for i in range(20):
    no = pd.DataFrame(new11.head(20))._stat_axis.values.tolist()[i]
    word = dict1[no]
    top1[word] = [new11.loc[no,] , no]
    
print (top1)
table1 = pd.DataFrame(top1)
table1.index = ['tfidf score','index number']
print (table1)

{'the': [0.5478022330551527, 9646], 'and': [0.38795410526669527, 667], 'to': [0.37283901025630456, 9779], 'was': [0.21569000657684542, 10500], 'it': [0.1692050913663184, 5206], 'of': [0.1516307943899514, 6613], 'for': [0.14611258510044367, 3999], 'my': [0.14125416170424665, 6350], 'in': [0.13603585509351654, 4957], 'they': [0.1336966141990513, 9672], 'that': [0.12775854115925495, 9643], 'we': [0.12104072115463684, 10535], 'this': [0.11000430257562138, 9691], 'is': [0.10508589864366885, 5194], 'not': [0.10412621007158056, 6521], 'on': [0.087991445953346, 6657], 'you': [0.08499241916557007, 10804], 'with': [0.08481247755830351, 10680], 'me': [0.0831930030929045, 5994], 'have': [0.0825332171995938, 4573]}
                      the         and           to          was           it  \
tfidf score      0.547802    0.387954     0.372839      0.21569     0.169205
index number  9646.000000  667.000000  9779.000000  10500.00000  5206.000000

                       of          for           my           in         they  \
tfidf score      0.151631     0.146113     0.141254     0.136036     0.133697
index number  6613.000000  3999.000000  6350.000000  4957.000000  9672.000000

                     that            we         this           is  \
tfidf score      0.127759      0.121041     0.110004     0.105086
index number  9643.000000  10535.000000  9691.000000  5194.000000

                      not           on           you          with  \
tfidf score      0.104126     0.087991      0.084992      0.084812
index number  6521.000000  6657.000000  10804.000000  10680.000000

                       me         have
tfidf score      0.083193     0.082533
index number  5994.000000  4573.000000

In [70]:
top2 = {}
for i in range(20):
    no = pd.DataFrame(new21.head(20))._stat_axis.values.tolist()[i]
    word = dict2[no]
    top2[word] = [new21.loc[no,] , no]
    
#print (top2)
table2 = pd.DataFrame(top2)
table2.index = ['tfidf score','index number']
print (table2)

                      the        and           to          was          it  \
tfidf score      0.621676    0.34094     0.302214     0.251122     0.19786
index number  7084.000000  425.00000  7196.000000  7689.000000  3818.00000

                       of          for           in        that           we  \
tfidf score      0.170199     0.139825     0.132883     0.12171     0.120408
index number  4866.000000  2956.000000  3655.000000  7082.00000  7720.000000

                       is          but           my          not         they  \
tfidf score      0.117479     0.116286     0.110537     0.100449     0.098279
index number  3809.000000  1151.000000  4679.000000  4798.000000  7105.000000

                     this          on         with          you         were
tfidf score      0.091662     0.08472     0.080598     0.076259     0.075499
index number  7120.000000  4895.00000  7834.000000  7936.000000  7752.000000

In [71]:
top3 = {}
for i in range(20):
    no = pd.DataFrame(new31.head(20))._stat_axis.values.tolist()[i]
    word = dict3[no]
    top3[word] = [new31.loc[no,] , no]
    
#print (top3)
table3 = pd.DataFrame(top3)
table3.index = ['tfidf score','index number']
print (table3)

                      the         and           to         was           it  \
tfidf score      0.632792    0.355264     0.277262     0.24287     0.205464
index number  8201.000000  458.000000  8322.000000  8889.00000  4351.000000

                       of          for           is          but           in  \
tfidf score      0.179227     0.144392     0.137035     0.125158     0.118953
index number  5570.000000  3373.000000  4343.000000  1262.000000  4184.000000

                     that         with         they           we          not  \
tfidf score      0.113989     0.097325     0.091475     0.090855     0.089525
index number  8199.000000  9045.000000  8224.000000  8913.000000  5498.000000

                    you           my           on         this         were
tfidf score      0.0866     0.086511     0.085891     0.078357     0.072861
index number  9171.0000  5350.000000  5619.000000  8241.000000  8957.000000

In [72]:
top4 = {}
for i in range(20):
    no = pd.DataFrame(new41.head(20))._stat_axis.values.tolist()[i]
    word = dict4[no]
    top4[word] = [new41.loc[no,] , no]
    
#print (top4)
table4 = pd.DataFrame(top4)
table4.index = ['tfidf score','index number']
print (table4)

                       the         and            to           was  \
tfidf score       0.616359    0.412614      0.251041      0.212664
index number  11642.000000  626.000000  11822.000000  12622.000000

                       it           of           is          for           in  \
tfidf score      0.189846     0.187332     0.156023     0.145065     0.127086
index number  6117.000000  7907.000000  6100.000000  4677.000000  5870.000000

                      with         but           you          that  \
tfidf score       0.106356     0.10479      0.104031      0.100948
index number  12830.000000  1831.00000  13008.000000  11640.000000

                      they           my            we          this  \
tfidf score       0.097295     0.091887      0.090748      0.087665
index number  11670.000000  7587.000000  12662.000000  11696.000000

                       on         good          had
tfidf score      0.086953     0.077324     0.071394
index number  7973.000000  5084.000000  5306.000000

In [73]:
top5 = {}; n=20
for i in range(n):
    no = pd.DataFrame(new51.head(n))._stat_axis.values.tolist()[i]
    word = dict5[no]
    top5[word] = [new51.loc[no,] , round(no)]
    
#print (top5)
table5 = pd.DataFrame(top5)
table5.index = ['tfidf score','index number']
print (table5)

                       the         and            to           was  \
tfidf score       0.565911    0.478119      0.280494      0.187498
index number  14505.000000  803.000000  14698.000000  15676.000000

                       is            of           it          for  \
tfidf score      0.170378      0.169124     0.156771     0.142881
index number  7663.000000  10009.000000  7681.000000  5885.000000

                       in           my          with           you  \
tfidf score      0.139839     0.126922      0.107701      0.107325
index number  7358.000000  9614.000000  15937.000000  16142.000000

                     this           we          they          that  \
tfidf score       0.10466      0.10002      0.093906      0.085628
index number  14561.00000  15725.00000  14540.000000  14501.000000

                     have            on        great          had
tfidf score      0.078385      0.077727     0.074717     0.073651
index number  6793.000000  10092.000000  6496.000000  6658.000000

In [6]:
rt_file = 'review_test.json'

sample1 = []
with open(rt_file, 'r') as f:
    sample1.append(f.readlines())

In [29]:
test_review = json.loads(sample1[0])

In [30]:
#test_review

{'business_id': 85246,
 'text': 'I was really looking forward to visiting after having some of their beers. The "Man O\'War" quickly became my favorite DIPA; the Rusulka Vanilla Stout is a good thick, sweet stout; and the Ironclad is a top notch IPA. \nThe only big miss on their beers I\'ve had is the Big Chuck Barleywine. It could probably benefit greatly with age, but at this age all there is to taste is the alcohol.  \nNonetheless, I had enough to convince me that the other beers I hadn\'t had from them would be top notch... and they are! \nThe reason for the 2 stars should not reflect the quality of the brewers, they obviously know their craft well! \nThe servers are great and friendly.... but relying on two servers to wait on 100+ customers says a lot about how inexperienced management must be. In fact, after waiting 15 mins at a dirty table I was finally able to track down someone I guessed was an employee to let them know we were even there! \nAfter another 5+ mins, the GM finally stopped over to take our drink order. The smugness of this guy was amazing. The thought of offering a simple apology never seemed to enter into his head. \nThis is the time a server finally stopped by to pick up the non-final check left by the party before us... who didn\'t seem very pleased when leaving. \nThe toast & cheese was good, but by the time we were able to dig into their heartiest offering of food, saltines and butter may have been equally pleasing.',
 'date': '2015-01-18 14:04:18',
 'KaggleID': 1}

In [31]:
#test_review['business_id']

85246

In [32]:
#_, _, _, _ =count_word_char(test_review['text'])

Symbols are: ['.', '"', "'", '"', ';', ',', ';', '.', "'", '.', ',', '.', ',', "'", '...', '!', ',', '!', '....', '+', '.', ',', '!', '+', ',', '.', '.', '.', '-', '...', "'", '.', '&', ',', ',', '.']
Total words count: 263
Total character count: 1110

-------------------------------
Word           |      Frequency
-------------------------------
I              |              6
was            |              5
really         |              1
looking        |              1
forward        |              1
to             |             10
visiting       |              1
after          |              2
having         |              1
some           |              1
of             |              5
their          |              4
beers          |              3
The            |              7
Man            |              1
O              |              1
War            |              1
quickly        |              1
became         |              1
my             |              1
favorite       |              1
DIPA           |              1
the            |             13
Rusulka        |              1
Vanilla        |              1
Stout          |              1
is             |              6
a              |              6
good           |              2
thick          |              1
sweet          |              1
stout          |              1
and            |              4
Ironclad       |              1
top            |              2
notch          |              2
IPA            |              1
only           |              1
big            |              1
miss           |              1
on             |              3
ve             |              1
had            |              3
Big            |              1
Chuck          |              1
Barleywine     |              1
It             |              1
could          |              1
probably       |              1
benefit        |              1
greatly        |              1
with           |              1
age            |              2
but            |              3
at             |              2
this           |              2
all            |              1
there          |              2
taste          |              1
alcohol        |              1
Nonetheless    |              1
enough         |              1
convince       |              1
me             |              1
that           |              1
other          |              1
hadn           |              1
t              |              2
from           |              1
them           |              2
would          |              1
be             |              2
they           |              2
are            |              2
reason         |              1
for            |              1
stars          |              1
should         |              1
not            |              1
reflect        |              1
quality        |              1
brewers        |              1
obviously      |              1
know           |              2
craft          |              1
well           |              1
servers        |              2
great          |              1
friendly       |              1
relying        |              1
two            |              1
wait           |              1
customers      |              1
says           |              1
lot            |              1
about          |              1
how            |              1
inexperienced  |              1
management     |              1
must           |              1
In             |              1
fact           |              1
waiting        |              1
mins           |              2
dirty          |              1
table          |              1
finally        |              3
able           |              2
track          |              1
down           |              1
someone        |              1
guessed        |              1
an             |              1
employee       |              1
let            |              1
we             |              2
were           |              2
even           |              1
After          |              1
another        |              1
GM             |              1
stopped        |              2
over           |              1
take           |              1
our            |              1
drink          |              1
order          |              1
smugness       |              1
guy            |              1
amazing        |              1
thought        |              1
offering       |              2
simple         |              1
apology        |              1
never          |              1
seemed         |              1
enter          |              1
into           |              2
his            |              1
head           |              1
This           |              1
time           |              2
server         |              1
by             |              3
pick           |              1
up             |              1
non            |              1
final          |              1
check          |              1
left           |              1
party          |              1
before         |              1
us             |              1
who            |              1
didn           |              1
seem           |              1
very           |              1
pleased        |              1
when           |              1
leaving        |              1
toast          |              1
cheese         |              1
dig            |              1
heartiest      |              1
food           |              1
saltines       |              1
butter         |              1
may            |              1
have           |              1
been           |              1
equally        |              1
pleasing       |              1

In [ ]:
rt_file = 'review_train.json'

sample2 = []
with open(rt_file, 'r') as f:
    sample2.append(f.readlines())

In [58]:
review = json.loads(sample2[0][1])

In [59]:
#review

{'business_id': 35344,
 'stars': 5.0,
 'text': "I *adore* Travis at the Hard Rock's new Kelly Cardenas Salon!  I'm always a fan of a great blowout and no stranger to the chains that offer this service; however, Travis has taken the flawless blowout to a whole new level!  \n\nTravis's greets you with his perfectly green swoosh in his otherwise perfectly styled black hair and a Vegas-worthy rockstar outfit.  Next comes the most relaxing and incredible shampoo -- where you get a full head message that could cure even the very worst migraine in minutes --- and the scented shampoo room.  Travis has freakishly strong fingers (in a good way) and use the perfect amount of pressure.  That was superb!  Then starts the glorious blowout... where not one, not two, but THREE people were involved in doing the best round-brush action my hair has ever seen.  The team of stylists clearly gets along extremely well, as it's evident from the way they talk to and help one another that it's really genuine and not some corporate requirement.  It was so much fun to be there! \n\nNext Travis started with the flat iron.  The way he flipped his wrist to get volume all around without over-doing it and making me look like a Texas pagent girl was admirable.  It's also worth noting that he didn't fry my hair -- something that I've had happen before with less skilled stylists.  At the end of the blowout & style my hair was perfectly bouncey and looked terrific.  The only thing better?  That this awesome blowout lasted for days! \n\nTravis, I will see you every single time I'm out in Vegas.  You make me feel beauuuutiful!",
 'date': '2017-01-14 21:30:33'}

In [ ]:
type(review)

In [33]:
bt_file = 'business_train.json'

sample3 = []
with open(bt_file, 'r') as f:
    sample3.append(f.readline())

In [34]:
sample3

['{"business_id": 3157, "name": "Arizona Biltmore Golf Club", "city": "Phoenix", "state": "AZ", "postal_code": "85016", "latitude": 33.5221425, "longitude": -112.0184807, "is_open": 0, "attributes": {"GoodForKids": "False"}, "categories": "Golf, Active Life", "hours": null}\n']

In [35]:
business = json.loads(sample3[0])

In [36]:
business

{'business_id': 3157,
 'name': 'Arizona Biltmore Golf Club',
 'city': 'Phoenix',
 'state': 'AZ',
 'postal_code': '85016',
 'latitude': 33.5221425,
 'longitude': -112.0184807,
 'is_open': 0,
 'attributes': {'GoodForKids': 'False'},
 'categories': 'Golf, Active Life',
 'hours': None}